
:root {
    --colorColorMaincolor: #0f60fb;    
    --colorColorHovercolor: #536078;    
    --colorColorBackgroundcolor: #8d9092;    
    --colorColorDarkone: #f3f3f3;    
    --colorColorDarktwo: #ffffff;    
    --colorColorLightone: #cccccc;    
    --colorColorLighttwo: #e7e3e3;    
}