
:root {
    --colorColorMaincolor: #0c43ab;    
    --colorColorHovercolor: #072660;    
    --colorColorBackgroundcolor: #617688;    
    --colorColorDarkone: #f3f3f3;    
    --colorColorDarktwo: #ffffff;    
    --colorColorLightone: #cccccc;    
    --colorColorLighttwo: #e7e3e3;    
}