
:root {
    --measureSpacingSpacingSpacingXs: 4px;    
    --measureSpacingSpacingSpacingSm: 8px;    
    --measureSpacingSpacingSpacingMd: 16px;    
    --measureSpacingSpacingSpacingLg: 32px;    
    --measureSpacingSpacingSpacingXl: 64px;    
    /* You can have multiple values in a single spacing token. Read more on these: https://docs.tokens.studio/available-tokens/spacing-tokens#multi-value-spacing-tokens */
    --measureSpacingSpacingSpacingMultiValue: 864px;    
}